@font-face{
    font-family: "twcenmteb";
    src:url("fontes/tw-cen-mt-eb.ttf") format("truetype");
}

body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fonte-zero{
    font-size: 0px;
    padding: 0px;
    opacity: 0;
    float: none; 
    border: 0px;
    display: none;
}

.nome-empresa{
    font-family: "twcenmteb";
    font-size: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.fundo-rodape{
    background-color: 343A40;
    color: FFFFFF;
    padding-top: 20PX;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.icone-rodape{
    font-size: 40px;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav{
    background-color: black;
}

.navbar-barra2{
    background-color: #87c9f5;
    padding: 10px;
}

.navbar-texto{
    font-size: 36px;
    font-family: "twcenmteb";
    color: #2a6eecec;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer {
    color: AliceBlue;
    padding: 30px 0;
}
.footer p {
    margin-bottom: 10px;
}
.footer .social-icons img{
    width: 40px;
    margin-right: 30px;
}
.footer .social-icons {
    display: flex;
    justify-content: flex-start;
}

.footer .container {
    margin-top: 30px;
}
.footer .final-t {
    text-align: right;
    margin-top: 20px;
}
p.cop, p.cop2{
    display: flex;
    justify-self: center;
    font-size: 14px;
}

.social-icons img{
    border-radius: 30%;
}

.text-center {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
}

.icon-img {
width: 90px;
height: 90px;
margin-left: 40px;
object-fit: contain;
}

.social-icons,
.icon-images {
display: flex;
align-items: center;
justify-content: flex-start;
}


@media (max-width: 767px) {
    body{
        scroll-behavior: smooth;
    }
    .social-icons img {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .icon-img {
        width: 60px;
        height: 60px;
        display: flex;
        margin: auto;
    }
    .cop, .cop2, .final-t{
        display: flex;
        margin: auto;
    }
}
