* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(36, 35, 35);
    color: white;
    line-height: 1.6;

}

.main {
    padding: 20px;
}

header {
    background-color:  rgb(107, 82, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(136, 136, 136);
    text-decoration: none;
    display: inline-block;
    transition: 0.1s;
}

nav ul li a:hover {
    color: white;
    transform: scale(1.05);
} 

form label {
    display: block;
    margin-top: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 0%;
    margin-top: 5px;
}

button {
    background-color: rgb(255, 187, 0);
    color: white;
    border: none;
    cursor: pointer;

}

.produto {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #2d2d2d;
    border-radius: 8%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #ffcc00;
}

.movie-info {
    padding: 15px;
    text-align: center;
}

.movie-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.movie-info p {
    color: #bbb;
    font-size: 14px;
}

footer {
    background-color: #1d1d1d;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    color: #ccc;
}
 
