@font-face {
    font-family: 'Tw Cen MT Extra Bold';
    src: url('../fontes/tw-cen-mt-eb.ttf') format('truetype');
    font-weight: bold;
}


.fonte-header {
    font-family: 'Tw Cen MT Extra Bold', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    display: flex;
    align-self: center;
    padding-top: 8%;
}

header {
    width: 100%;
    margin: 0;
}

header h2 {
    margin: 0;
}

.fonte-zero {
    display: none;
}

.navbar form {
    margin-left: 0;
}

.btn-outline-dark {
    border: 2px solid black;
    color: black;
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}

nav {
    width: 100%;
}

.ws_nav {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ws_nav_left {
    left: 10px;
    border-top: 15px solid white;
}


.ws_nav_right {
    right: 10px;
    border-bottom: 15px solid white;
}

.ws_nav_left:hover,
.ws_nav_right:hover {
    opacity: 0.7;
}

.text-center-custom {
    text-align: center;
}

.section-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cursos-em-destaque{
    font-family: Verdana;
}

/* footer */

.footer {
    background-color: grey;
    color: AliceBlue;
    padding: 30px 0;
}
.footer p {
    margin-bottom: 10px;
}
.footer .social-icons img,
.footer .icon-images img {
    width: 30px;
    margin-right: 20px;
}
.footer .social-icons {
    display: flex;
    justify-content: flex-start;
}
.footer .icon-images {
    display: flex;
    justify-content: space-between;
}
.footer .container {
    margin-top: 30px;
}
.footer .final-t {
    text-align: right;
    margin-top: 20px;
}