* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    background-color: black;
    padding: 2em;
}



nav ul {
    list-style: none;
    text-align: center;
    margin-left: 200px;
    margin-top: -50px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration:none;
    display:inline-flex;
    transition: 0.3s;

}

nav ul li :hover {
    color: blue;
    transform: scale(1.20)
}

.gif {
    height: 440px;
    background-color: blue;
    background-image: url("../imagens/4KgG\ \(1\)\ copiar.gif");
    background-size: cover;
}

.item {
   margin-top: 55px;
   text-align: center;
   height: 240px;
   margin-left: 30px;
   transition: 0.3s;
   
}

.content {
    text-align: center;
    font-size: large;
    font-size: 50px;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.item h3, {
    font-size: 25px;
    text-align: center;
    margin-left: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: none;
    color: black;

}

.item:hover {
    transform: scale(1.05);
}