@font-face {
    font-family: "PROJETO";
    src: url(fontes/tw-cen-mt-eb.ttf)format('truetype');
    font-weight: bold;
}

body {
    margin: 0px;
    font-family: verdana;
  }

.fonte-zero {
    font-size: 0px;
    padding: 0px;
    opacity: 0;
    float: none;
    border: 0px;
    display: none;
  }

  .nome-empresa {
    font-family: "PROJETO";
    font-size: 93px;
    display: flex;
    align-items: center; /* Alinhamento Vertical */
    justify-content: center; /* Alinhamento Horizontal */
    padding: 5px;
  }


/* Estilo do botão */
.btn-outline-success {
    color: #00aeff; /* Cor do texto */
    border-color: #00aeff; /* Cor da borda */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

/* Hover: Efeito ao passar o mouse */
.btn-outline-success:hover {
    background-color: #00aeff; /* Cor de fundo mais escura */
    color: #00aeff; /* Mantém o texto branco */
    border-color: #00aeff;
    transform: scale(1.05); /* Leve ampliação */
}

/* Active: Efeito ao clicar */
.btn-outline-success:active {
    background-color: #00aeff; /* Cor mais escura ao clicar */
    border-color: #00aeff;
    transform: scale(0.95); /* Leve redução para parecer pressionado */
}

/* Foco: Indica que o botão está ativo */
.btn-outline-success:focus {
    box-shadow: 0 0 5px 2px rgba(40, 167, 69, 0.5); /* Efeito de foco */
    outline: none; /* Remove a borda padrão */
}

.destaque{
  background-color: rgb(185, 227, 255);
  height: 80px;
}

.subtitulo{
  font-size: 50px;
  text-align: center;
  color: #0068c9;
 
}

.imagens_cursos{
  text-align: right;
  margin-top: 50px;
  margin-right: 50px;
}

.imagens_cursos img {
  width: 500px; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção */
}

.pesquisa2 {
  margin-right: -400px;

}

.menus {
  margin-left: 250px;
}