@charset "utf-8";


@font-face {
  font-family: "twcenmteb";
  src: url("fontes/tw-cen-mt-eb.ttf") format("truetype");
}

body {
  margin: 0px;
  font-family: verdana;
}

.fonte-zero {
  font-size: 0px;
  padding: 0px;
  opacity: 0;
  float: none;
  border: 0px;
  display: none;
}

.nome-empresa {
  font-family: "twcenmteb";
  font-size: 93px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 5px;
}

.fundo-rodape {
  background-color: #343A40;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.icone-rodape {
  font-size: 40px;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media all and (min-width:992px) and (max-width: 1199px) {
  .nome-empresa {
    font-family: "twcenmteb";
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px;
  }
}


@media all and (min-width:768px) and (max-width: 991px) {
  .nome-empresa {
    font-family: "twcenmteb";
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px;
  }
}


@media all and (min-width:576px) and (max-width: 767px) {
  .nome-empresa {
    font-family: "twcenmteb";
    font-size: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}


@media all and (min-width:361px) and (max-width: 575px) {
  .nome-empresa {
    font-family: "twcenmteb";
    font-size: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  h2 {
    font-size: 25px;
  }
}


@media all and (max-width: 360px) {
  .nome-empresa {
    font-family: "twcenmteb";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  h2 {
    font-size: 20px;
  }
}

/* Centraliza textos com classe customizada */
.text-center {
  text-align: center;
}

/* Espaçamento entre seções */
.section-spacing {
  margin-bottom: 50px;
}

/* Melhorias para as imagens */
.curso-imagem img {
  text-align: right;
  border-radius: 4px;
}
