/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a4175;
    color: white;
    background-color: #5e2b0d;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(255, 249, 249);
    text-decoration: none;
}

main {
    padding: 1em;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 5px;
}

button {
    background-color: #6200ff;
    color: white;
    padding: 0.7em;
    border: none;
    cursor: pointer;
}

.produto {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

