{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('imagens/background.jpg'); /* Fundo com gradiente e imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 60px 0;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3em;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #f4f4f9;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    color: #ff6f61; 
    transform: translateY(-3px); 
}
main {
    padding: 50px;
    text-align: center;
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 400;
    color: #ff6f61; 
}

main h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 400;
}


.produtos {
    margin-bottom: 30px;
}

.filme {
    background-color: rgba(0, 0, 0, 0.6); 
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 20px;
    background-position: center center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 800px;
    color: #fff;
    text-align: center;
}