body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type:  none;
    margin-right: 0;

}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(214, 21, 21);
    text-decoration: none;
}

img {
    opacity: 10;
    width: 1000;
    height: 300;

}

h2 {
    background-color: black;
    text-align: center;
    color: white;
    font-family: arial, sans-serif;
    font-size: 25px;
    text-indent: 50px;
}

h3 {
    background-color: black;
    text-align: center;
    color: white;
    position: center;
    right: 30px;
    font-size: 25px;
    margin: 4;
}

.Nomes {
 font-family: sans-serif;
 color: aliceblue;
 display: flex;justify-items: center;
 background-color: rgb(2, 1, 1);
 text-align: center;
 

}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: right;
    position: static;
    max-width: 500px;
    margin: auto;
    font-family: arial, sans-serif;

}
.text{
    width: 50%;
    color: aliceblue;
}
