* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #d4cfcf;
    background-color: #0e0e0e;
    background-image: url("../Images/academia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    padding: 60px 4%;   
}

header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin:0 40px;
}

a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}

a:hover{
    color: blue;
    transform: scale(1.05);
}


.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 160px;
    padding: 15px;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 10px;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    transform: skew(-20deg);
}

.banner h1{
    font-size: 5em;
    font-style: italic;
}

.banner h2{
    font-size: 2em;
    font-style: italic;
}

.services, .planos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.services, .plano{
    background:#e0e0e0;
    padding: 1rem;
    border-radius: 5px;
    flex: 1 1 30%;
    text-align: center;
    margin: 1rem 0;
}

.planos h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
#contato p{
    margin-bottom: 0.5rem;
}

#contato a{
    text-decoration: none;
    color: #ff6600;
}

footer{
    background: #fff7f7;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p{
    margin: 0;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
    .services, .plano{
        flex-direction: column;
    }
}   
