@charset "utf-8";
@font-face { 
    font-family: "twcenmteb"; 
    src: url("fontes/tw-cen-mt-eb.ttf") format("truetype"); 
  
  } 

.fonte-zero {
    display: none;
    font-size: 0px;
    padding: 0px; 
    opacity: 0; 
    float: none; 
    border: 0px; 
}

body {
    margin: 0px;
    font-family: verdana;
}

.nome-empresa {
    font-family: "twcenmteb"; 
    font-size: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


