body {
    background-color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 85px; /* Altura */
    position: fixed;

}

#icon-img{
    display: flex;
    position: fixed;
    justify-self: center;
    padding-top: 55px;
    width: 7%;
}

.LadoA {
    color: #ffffff;
    display:flex;
    justify-self: start;
    flex-direction: row;
    padding-left: 20%;
    gap: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a{

    text-decoration: none;
    color: inherit; 
}
#img-icon{
    justify-self: center;
}

.LadoB{
    padding-right: 20%;
    color: #ffffff;
    display:flex;
    justify-self: end;
    flex-direction: row;
    gap: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#pad-nav{
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
} 

.i {
    background-color: rgb(97, 202, 202);
    width: 100%;
    display: flex;
    justify-self: center;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 125px;
  }

  #imgtreino {
    width: 100%;
  }

  .titulo {
    font-size: 2.5rem; /* Tamanho do texto */
    color: #000000; /* Cor do título */
    font-weight: bold;
    margin-bottom: 15px; /* Espaço abaixo do título */
}

/* Estilo para o subtítulo (h2) */
.subtitulo {
    font-size: 1.8rem;
    color: #000000; /* Cor mais suave para o subtítulo */
    font-weight: normal;
    margin-bottom: 20px; /* Espaço abaixo do subtítulo */
}

/* Estilo para o texto (p) */
.texto {
    font-size: 1rem;
    color: #555; /* Cor mais clara para o texto */
    line-height: 1.8;
}

.card {
    background-color: #fff; /* Fundo branco para o card */
    width: 20%;
    max-width: 1100px; /* Largura máxima do card */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 100px;}

    .imgjgdr {
        width: 100%; /* Faz a imagem ocupar toda a largura do card */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 8px; /* Bordas arredondadas na imagem */
        margin-bottom: 15px; /* Espaço abaixo da imagem */
    }