body {
    background-color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 85px;
    /* Altura */
    position: fixed;
    margin-top: -1%;
    left: 1px;
    position: sticky;

}

#icon-img {
    display: flex;
    position: fixed;
    justify-self: center;
    top: -5%;
    width: 70%;
    left: 10%;
    position: sticky;
    right: 70%;
}

.LadoA {
    color: #ffffff;
    display: flex;
    justify-self: start;
    flex-direction: row;
    padding-left: 20%;
    gap: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a {

    text-decoration: none;
    color: inherit;
}

#img-icon {
    justify-self: center;
}

.LadoB {
    padding-right: 20%;
    color: #ffffff;
    display: flex;
    justify-self: end;
    flex-direction: row;
    gap: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#pad-nav {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}

.i {
    background-color: rgb(97, 202, 202);
    width: 100%;
    display: flex;
    justify-self: center;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 125px;
}

#imgtreino {
    width: 100%;
}

.titulo {
    font-size: 2.5rem;
    /* Tamanho do texto */
    color: #000000;
    /* Cor do título */
    font-weight: bold;
    margin-bottom: 15px;
    /* Espaço abaixo do título */
}

/* Estilo para o subtítulo (h2) */
.subtitulo {
    font-size: 1.8rem;
    color: #000000;
    /* Cor mais suave para o subtítulo */
    font-weight: normal;
    margin-bottom: 20px;
    /* Espaço abaixo do subtítulo */
}

/* Estilo para o texto (p) */
.texto {
    font-size: 1rem;
    color: #555;
    /* Cor mais clara para o texto */
    line-height: 1.8;
}

.card {
    display: flex;
    margin-bottom: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 125px;
    align-items: center;
    gap: 20px;
    margin: 1%;
}

.descricao{
    display: flex;
    background-color: #000000;

}

.imgjgdr {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;

}

#div-geral {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 200px;
    background-color: #555;
    width: 100%;
    row-gap: 10%;
}


.container {
    width: 100%;
}
.img-jog{
    display: flex;
}

.linhas {
    display: flex;
    flex-wrap: wrap;
}

.linhas1 {
    flex: 1 1 100%;
    margin: 100px;
}

.goleiros {
    width: 100%;
}

.laterais {
    width: 100%;
}

.meias {
    width: 100%
}

.atacantes {
    width: 100%;
}

.card .info {
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin: 0;
    font-size: 15px;
}

.card p {
    color: #555;
    font-size: 10px;
}