 
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 
header {
    text-align: start;
    margin: 40px 0;
}
 
.logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 300px;
}
 
.logo {
    height: 150px;
  
}
 
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
 
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 
.menu-container p {
    margin: 0;
    flex: 1;
}
 
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
 
.menu a {
    color: white;
    text-decoration: none;
}
 
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.search-container input {
    padding: 5px;
}
 
.search-container button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
 