body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: #a5882a;
    padding: 1em;
    text-align: center;    
}

nav ul {
    list-style-type: disc;
    padding: 0; 
}


nav ul li {
    display: inline-block;
    margin-right: 10px;
    
}

nav ul li a {
    color: aqua;
    text-decoration: none;
}

main{
    padding: 1em;
}


