
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    font-family: monospace;
    background-color: rgb(4, 4, 63);
    line-height: 1.6;
}

header {
    background-color: rgb(60, 60, 190);
    color: rgb(245, 215, 178);
    padding: 10px;
    }

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: aqua;
    text-decoration: double;
}

main {
    text-align: center;
    color: yellowgreen;
    padding: 50px 20px;
}

.img {
    padding-top: 2%;
    padding-bottom: 2%;
}

footer {
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-self: center;
}
.text-footer{
    font-size: 16px;
}
