@font-face{
    font-family: "twcenmteb";
    src:url("fontes/tw-cen-mt-eb.ttf") format("truetype");
}

body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fonte-zero{
    font-size: 0px;
    padding: 0px;
    opacity: 0;
    float: none; 
    border: 0px;
    display: none;
}

.nome-empresa{
    font-family: "twcenmteb";
    font-size: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.fundo-rodape{
    background-color: 343A40;
    color: FFFFFF;
    padding-top: 20PX;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.icone-rodape{
    font-size: 40px;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav{
    background-color: black;
}

.navbar-barra2{
background-color: #87c9f5;
padding: 10px;
}

.navbar-texto{
font-size: 36px;
font-size:"twcenmteb";
color: #2a6eecec;
justify-content: center;
text-align: center;
align-items: center;
}

.navbar-texto2{
font-family: "twcenmteb";
font-size: 18px;
float: left;
width: 60%;
background-color: white;
padding: 100px;
}

.navbar-texto3{
font-family: "twcenmteb";
font-size: 18px;
float: left;
width: 60%;
background-color: white;
padding: 100px;
}

.container-img {
    display: flex;         
    justify-content: flex-end;  
    align-items: flex-start; 
}

.imagem {
    max-width: 100%;
}