body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding:20px;
}

h1 {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 55px;
}


div {
    text-align: center;
}

header {
    background-color: rgb(19, 13, 75);
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    font-size: 45px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 700px;
    height:783px ;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image img {
    width:70%;
    height: auto;
    border-radius: 20px;

}

.product-details {
    padding: 15px;
    text-align: center;
}

.product-details h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    color: #000000;
    margin: 0;
}

.product-details p {
    font-family: 'Franklin Gothic Medium';
    color: #2b2b2b;
    font-size: 30px;
}

.product-price {
    font-size: 20px;
    color: #940d0d;
    margin: 10px 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 22px;
}

.buy-button {
    font-family: 'Franklin Gothic Medium';
    background-color: #8a0707;
    color: #fff;
    border: none;
    padding: 18px 22px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #740000;
}