body {
    margin: 0px;
    font-family: verdana;
}

.fonte-zero {
    font-size: 0;
    padding: 0px;
    opacity: 0px;
    float: 0px;
    border: 0px;
    display: none;
}

.nome-empresa {
    font-family: "twcenmteb";
    font-size: 93;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.fundo-rodape {
    background-color: #343A40;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.icone-rodape {
    font-size: 40px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
