body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
}

header {
background-color:rgb(0, 0, 0);
color:white;
padding: 1em;
text-align: center;
}

nav.menu {
        position: relative;
        background-color: #000;
        color: white;
        padding: 20px;
        text-align: center;
    }
    

nav ul {
list-style-type: none;
padding: 0;
text-align: center;
}

nav ul li {
display: inline;
margin-right: 10px;
}


nav ul li.fale-conosco {
    background-image: url('https://cdn.inspireuplift.com/uploads/images/seller_products/1680828601_Nikespecial-01.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }


nav ul li a:hover {
    background-color: rgba(0,0,0, 0.8);
}

main {
    padding: 1em;
}

form label {
display: block;
margin-top: 10px;
}

form input, form textarea {
width: 100%;
padding: 0.5em;
margin-top: 5px;
}

button {
background-color: rgb(255, 255, 255);
color: rgb(255, 94, 0);
padding: 0.7em;
border: none;
cursor: pointer;
}

.produto {
border: 1px solid #ddd;
padding: 1em;
margin: 1em 0;
text-align: center;
}

.produto img {
max-width: 100%;
height: auto;
}
