
    *{
        margin: 0;
        padding: 0;
    }

    .search-bar {
        width: 300px;
    }
    .search-button {
            background-color: black;
            color: #00bfae;
            border: 2px solid #00bfae;
            margin-left: 10px;
    }

    /* Mudança de cor ao passar o mouse por cima */
.search-button:hover {
    background-color: #00bfae; /* Nova cor de fundo */
    color: black; /* Nova cor do texto */
    border: 2px solid black; /* Nova cor da borda */
}



    .navbar-nav .nav-item {
            margin-right: 20px;
        }
    .navbar-taskbar {
        background-color: #5a5d5f;
        width: 100%;
        box-sizing: border-box;
    }
        .dropdown-menu {
            background-color: #f8f9fa;
        }

main {
    margin-top: 20px;
}

        .title-right h1 {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 110px;
            font-weight: bold;
        }

        .container img {
            margin-left: -200px;
        }
        .navbar-nav .nav-link {
            color: white !important;
            transition: 0.3s;
        }
        .navbar-nav .nav-link:hover {
            color: #00bfae !important;
        }
    .navbar-nav .nav-link {
        color: rgb(255, 255, 255) !important;
        font-size: 16px;
        font-weight: bold;
    }
                  .shild {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .carrossel-container {
            position: relative;
            width: 100%;
            max-width: 1600px;
            margin: auto;
            overflow: hidden;
        }

        .carrossel-imagens {
            display: flex;
            transition: transform 0.5s ease;
        }

        .carrossel-imagens img {
            width: 100%;
            height: auto;
            border-radius: 1px;
        }

        .carrossel-botao {
            position: absolute;
            top: 15%;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 20;
        }

        .carrossel-botao-esquerda {
            left: 10px;
            border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid #fff; 
pointer-events: all;
        }

        .carrossel-botao-direita {
            right: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid #fff;
    pointer-events: all;
        }

        @media screen and (max-width: 768px) {
            .carrossel-container {
                max-width: 100%;
            }
        }
        .carrossel-botao-esquerda:hover, .carrossel-botao-direita:hover {
    border-right-color: #00bfae;
    border-left-color: #00bfae;
        }

        .carrossel-botao:focus {
    outline: none;
}

.navbar-barra2 {
        background-color: #a9ddff;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 0;
}
.navbar-barra2 .navbar-texto {
    color: #004a77;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1,h2,h3 {
    font-size: 40px;
    margin-left: 20px;
    padding-left: 20px;
}
p {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    }
.container-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -130px;
    gap: 20px;
}
.texto {
    max-width: 60%;
    margin-right: 1150px;
}
.imagem {
    width: 200px;
    height: auto;
}

.btn-detalhes {
    background-color: white;
    color: rgb(97, 95, 95); 
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    transition: all 0.3s ease;
    position: absolute;
    margin-left: 40px;
    top: 850px;
}

.btn-detalhes:hover {
    background-color: #f8f9fa;
    border-color: #007bff;
    color: #007bff;
}
.btn-detalhes1 {
    background-color: white;
    color: rgb(97, 95, 95); 
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    transition: all 0.3s ease;
    position: absolute;
    margin-left: 40px;
    top: 1470px;
}

.btn-detalhes1:hover {
    background-color: #f8f9fa;
    border-color: #007bff;
    color: #007bff;
}
.btn-detalhes2 {
    background-color: white;
    color: rgb(97, 95, 95); 
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    transition: all 0.3s ease;
    position: absolute;
    margin-left: 40px;
    top: 1170px;
}

.btn-detalhes2:hover {
    background-color: #f8f9fa;
    border-color: #007bff;
    color: #007bff;
}



/* Estilo básico para o rodapé */
footer {
    background-color: #2e3841;  /* Cor de fundo do rodapé */
    color: #fff;  /* Cor do texto */
    padding: 20px 0;  /* Espaçamento interno */
    text-align: center;  /* Alinhamento centralizado do texto */
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .footer-container {
    max-width: 1200px; /* Limite de largura */
    margin: 0 auto; /* Centraliza o conteúdo */
}

footer a {
    color: #00bfae; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
}

footer a:hover {
    text-decoration: underline; /* Sublinha os links ao passar o mouse */
}


/* Estilo para as imagens */
.imagem-pequena {
    width: 100px; /* Define a largura das imagens */
    height: auto; /* Mantém a proporção das imagens */
    border-radius: 8px; /* Arredonda os cantos das imagens */
    position: relative;
    right: -600px
}

.imagem-pequena1 {
    width: 100px; /* Define a largura das imagens */
    height: auto; /* Mantém a proporção das imagens */
    border-radius: 8px; /* Arredonda os cantos das imagens */
    position: relative;
    right: -600px

}


.footer {
    background-color: #5a5d5f;
    color: rgb(255, 255, 255);
    padding: 70px 0;
    position: relative;
    
}

footer .navbar-barra2 {
    background-color: #5a5d5f
}

footer .list-unstyled li {
    margin-right: 15px;
}

footer .list-unstyled li a {
    color: white;
    transition: color 0.3 ease;
}
footer .list-unstyled li a:hover {
    color: #00bfae;
}

footer .footer-image {
    width: 200px;
    height: auto;
    object-fit: contain;
    transition: color 0.3 ease;
    
}
footer .footer-image:hover {
    transform: scale(1.2); 
}

footer .footer-images-container {
    position: absolute;
    bottom: 30px;
    right: -225px;
    display: flex;
    gap: 200px;
}

footer .footer-text {
    margin-top: 30px;
    text-align: center;
}
    

.sites-px {
    position: absolute;
    bottom: 10px;
    right: 750px;
    display: flex;
    gap: 20px;


}

h5 {
font-size: 15px;
position: absolute;
left: 1300px;
}