/* ======================= */
/* CONFIGURAÇÕES GLOBAIS   */
/* ======================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.1;
}

/* ======================== */
/* CABEÇALHO E TITULO       */
/* ======================== */
.title-right h1 {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 105px;
    font-weight: bold;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* ======================= */
/* BARRA DE NAVEGAÇÃO      */
/* ======================= */
.navbar-taskbar {
    background-color: #5a5d5f;
}



/* ======================= */
/* BARRA DE NAVEGAÇÃO   2   */
/* ======================= */
.navbar-taskbar2 {
    background-color: #5eafe6;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: white !important;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #00bfae !important;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ======================= */
/* FORMULÁRIO DE BUSCA     */
/* ======================= */
.search-bar {
    width: 300px;
}

.search-button {
    background-color: black;
    color: #00bfae;
    border: 2px solid #00bfae;
    transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
    background-color: #00bfae;
    color: black;
}

/* ======================== */
/* LOGO E CONTAINER         */
/* ======================== */
.container img {
    margin-left: -200px;
    max-width: 100%;
}

/* ======================== */
/* CARROSSEL DE IMAGENS     */
/* ======================== */
.carrossel-container {
    position: relative;
    width: 100%;
    max-width: 1600px; /* Tamanho máximo */
    margin: auto;
    overflow: hidden;
}

.carrossel-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-imagens img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}

/* Botões do Carrossel */
.carrossel-botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.carrossel-botao-esquerda {
    left: 0;
}

.carrossel-botao-direita {
    right: 0;
}

/* ========================= */
/* AJUSTES PARA RESPONSIVIDADE */
/* ========================= */
@media screen and (max-width: 768px) {
    .carrossel-container {
        max-width: 100%;
    }

    .search-bar {
        width: 100%;
    }

    .title-right h1 {
        font-size: 80px;
        right: 10px;
        top: 10px;
    }
}
